<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>捐款頁面</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('component/header', {name, balance, alt: false}) %>

			<!-- Main -->
				<section id="main" class="container 75%">
					<header>
						<h2>我要為此計畫提供一份心力!</h2>
						<p>世界因為有你而更加茁壯</p>
					</header>
					<div class="box">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="12u">
									<select name="projectID" id="projectID" placeholder="計畫編號">
										<option value="00001">00001:Amabrush懶人自動牙刷</option>
										<option value="00002">00002:威客杯</option>
										<option value="00003">00003:寵物快拆胸背帶</option>
										<option value="00004">00004:折折燈 - 動靜皆宜的便攜趣味燈</option>
										<option value="00005">00005:守護者小白 - 世界第一台農藥感測智慧家電</option>
										<option value="00006">00006:世界上最難懂的錶</option>
							  		</select>
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="amount" id="amount" value="" placeholder="願意捐獻金額" />
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input id="donateButton" type="button" value="發起捐款" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
				<input type="hidden" id="name" value=<%- name %>> />
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/donating.js"></script>
			<script src="assets/js/index.js"></script>


	</body>
</html>
