<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>募資平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">
			
			<!-- Header -->
			<%- include('component/header', {name, balance, alt: true}) %>

			<!-- Banner -->
				<section id="banner">

					<h2>抖 內</h2>
					<h3>Clever things for curious humans</h3>
					<ul class="actions">
						<li><a href="/signup" class="button special user-out">Sign Up</a></li>
						<li><a href="/login" class="button user-out">Log In</a></li>
					</ul>
				</section>
			<!-- Main -->
				<section id="main" class="container">
					<section id="one" class="wrapper style2 user-in">
						<div class="inner">
							<div class="grid-style">
								<div>
								<% for(var i=0; i < keyLength; i++) { %>
									<div class="box">
										<header class="align-center">
											<h1>募款專案 <%- keyList[i] %></h1>
											<h2><%- projects[keyList[i]].content %></h2>
											<h2>發起人 : <%- projects[keyList[i]].sponsor %></h2>
										</header>
				
										<div class="image fit">
											<img src= <%- projects[keyList[i]].imgURL %> alt="" />
										</div>
										<div class="content">
											<p><h3>發起日期：<%- projects[keyList[i]].date %></h3><p>
											<footer class="align-center">
												<!--a href="/project_information" id= <%- keyList[i] %> class="button alt">我有興趣，我要看專案內容</a-->
												<input type="button" id= <%- keyList[i] %> onclick="checkButton(<%- keyList[i] %>)" value="我有興趣，我要看專案內容" />
											</footer>
										</div>
									</div>
								<% } %>
								</div>
								<script>
									function checkButton(id){ // go to url & send id to '/project_information'
										window.location.href="/project_information?id="+id;
									}
								</script>
				
							</div>
						</div>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
									<a href="/fund_donating">
										<h3>我要提供捐獻</h3>
										<p>實現夢想，有你有我</p>
									</a>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
                <a href="/fund_raising">
								<h3>我要發起募資</h3>
								<p>實現創意的第一步</p>
                </a>
							</section>
						</div>
						<div class="features-row">
              <!--
              <section>
								<span class="icon major fa-cloud accent4"></span>
                <h3>Sed feugiat</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
              -->
						<section>
							<span class="icon major fa-lock accent5"></span>
							<a href="/tracking">
							<h3>追蹤已完成募款專案</h3>
							<p>公開透明好安心</p>
							</a>
						</section>
						<section>
							<span class="icon major fa-lock accent5"></span>
							<a href="/step">
							<h3>階段性放款</h3>
							<p>公開透明好安心</p>
							</a>
						</section>
						</div>
					</section>
<!--
					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>
  -->


			<!-- Footer -->
				<footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>

	</body>
</html>
