<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="assets/css/main.css" />
</header>
<style>
    form {
        margin: auto;
        margin-top: 4rem;
        width: 70vw;
        border: 3px solid #f1f1f1;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        width: 630px;
        margin: auto;
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
</style>

<body>

    <%- include('component/header', {name, balance, alt: false}) %>
    
    <form action="login" method="post">
        <div class="imgcontainer">
            <img src="images/future.jpg" alt="Avatar" class="img-thumbnail">
        </div>

        <div class="container">
            <label>
                <b>Account name</b>
            </label>
            <input type="text" placeholder="Enter Account name" name="uid" required>

            <label>
                <b>Password</b>
            </label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>


    </form>

    <script src="assets/js/jquery.min.js"></script>
    <script>
        if("<%- data %>"){
            alert("<%- data %>")
        }
    </script>
</body>

</html>