<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>募資平台</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="../assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<style>
		.imgcontainer {
			    text-align: center;
			    margin: 24px 0 12px 0;
			}
		</style>
</head>

<body class="landing">
	<div id="page-wrapper">

		<!-- Header -->
		<%- include('component/header', {name, balance, alt: false}) %>

		<br><br><br><br>
		<div style="text-align: center">
			<% for(var i=1; i <= length; i++) { %>
			<a href="/my_project/<%- i %>">
				<%- i %></a> &nbsp;&nbsp;&nbsp;
			<% } %>
		</div>
		<div class="imgcontainer">
			<img src=<%- project.imgURL %> alt="Avatar" class="img-thumbnail">
		</div>
		<!-- One -->
		<section id="one" class="wrapper style1">
			<div class="container 75%">
				<div class="row 200%">
					<div class="6u 12u$(medium)">
						<header class="major">
							<h3>
								<%- project.name %>
							</h3>
							<p>發起人：
								<%- project.sponsor %>
							</p>
							<hr>
							<div class="align-left">
								<h4>專案階段一：
									<%- project.step1 %>
								</h4>
								<h4>專案階段二：
									<%- project.step2 %>
								</h4>
								<h4>專案階段三：
									<%- project.step3 %>
								</h4>
								<h4>專案階段四：
									<%- project.step4 %>
								</h4>
							</div>
						</header>
					</div>
					<div class="6u$ 12u$(medium)">
						<div class="col-sm-4 sidebar numberSidebar">
							<div class="numberRow totalFund">
								<p>
									<%- project.content1 %>
									<%- project.content2 %>
								</p>
								<h3 class="number moneyFormat">每階段預算：
									<%- project.amountPerStage %>
								</h3>
								<h3 class="metatext moneyFormat">目前共募得金額：
									<%- information.tokenRaised %>
								</h3>
								<h3 class="number moneyFormat">募款啟動日：
									<%- project.date %>
								</h3>

								<h3>
									
									<% if(information.tokenRaised >= information.accGoals[information.totalGoals - 1]){ %>
										<div class="align-center" id="checkVoteText">募款成功</div>
									<% } else{ %>
										<div class="align-center" id="checkVoteText">募款進行中</div>
									<% } %>

								</h3>

								<h3>
									<div class="align-center" id="voteInfo">
										目前投票階段：
										<%- information.nowGoal %> <br>
										總投票人數：
										<%- information.totalContributer %><br>
										目前投票人數：
										<%- information.nowVote %>
									</div>
								</h3>
								<br>
							</div>
						</div>
						<ul class="actions">
							<div class="align-center">
								<li><button class="button special big" onclick="withdraw(<%- project.id %>)">領取代幣</button></li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"></a></li>
					<li><a href="#" class="icon fa-twitter"></a></li>
					<li><a href="#" class="icon fa-instagram"></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				</ul>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/skel.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>
	<script src="../assets/js/jquery.dropotron.min.js"></script>
	<script src="../assets/js/jquery.scrollgress.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
		function withdraw(pid) {
			// 解鎖
			unlockAccount().then(result => {
				console.log(result)
				if (result) {
					$.post("../withdraw", {
						projectID: "0000" + pid
					}, function (res) {
						console.log(res)
						if (res.status) {
							swal("領取成功", {
								icon: "success",
							}).then(function() {
								location.reload()
							})
						} else {
							swal("領取失敗", {
								icon: "error",
							});
						}
					})
				}
			})
		}
		async function unlockAccount() {
			return swal("請輸入你的密碼:", {
				content: {
					element: "input",
					attributes: {
						placeholder: "Type your password",
						type: "password",
					},
				},
			})
				.then((value) => {
					if (value == null) {
						return false;
					}
					else {
						return $.post('/unlock', {
							name: name,
							password: value
						})
							.then(function (result) {
								if (result == 'Account unlocked!') {
									return swal("密碼正確", {
										icon: "success",
									}).then(function () {
										return true;
									})
								}
								else {
									return swal("密碼錯誤", {
										icon: "error",
									}).then(function () {
										return false;
									})
								}
							})
					}
				})
		}
	</script>


</body>

</html>