<!DOCTYPE HTML>
<html>

<head>
	<title>
		<%- project.name %>
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<style>
		.imgcontainer {
			    text-align: center;
			    margin: 24px 0 12px 0;
			}
		</style>
	-->
</head>


<body>
	<div id="page-wrapper">

		<!-- Header -->
		<%- include('component/header', {name, balance, alt: false}) %>


		<!-- Banner 			
			<section id="banner">
				
			</section>
		-->
		<br><br><br><br>
		<div class="imgcontainer">
			<img src=<%- project.imgURL %> alt="Avatar" class="img-thumbnail">
		</div>

		<!-- One -->
		<section id="one" class="wrapper style1">
				<div class="container 75%">
					<div class="row 200%">
						<div class="6u 12u$(medium)">
							<header class="major">
								<h3>
									<%- project.name %>
								</h3>
								<p>發起人：
									<%- project.sponsor %>
								</p>
								<hr>
								<!--p><%- project.content %><br>
											<%- project.content1 %>
										</p-->
								<div class="align-left">
									<h4>專案階段一：
										<%- project.step1 %>
									</h4>
									<h4>專案階段二：
										<%- project.step2 %>
									</h4>
									<h4>專案階段三：
										<%- project.step3 %>
									</h4>
									<h4>專案階段四：
										<%- project.step4 %>
									</h4>
								</div>
	
	
							</header>
						</div>
						<div class="6u$ 12u$(medium)">
	
							<div class="col-sm-4 sidebar numberSidebar">
	
								<div class="numberRow totalFund">
									<p>
										<%- project.content1 %>
										<%- project.content2 %>
									</p>
									<h3 class="number moneyFormat">每階段預算：
										<%- project.amountPerStage %>
									</h3>
									<h3 class="metatext moneyFormat">目前共募得金額：
										<%- information.tokenRaised %>
									</h3>
									<h3 class="number moneyFormat">募款啟動日：
										<%- project.date %>
									</h3>
	
	
									<div class="align-center">
										<input type="button" id="checkVoteButton" value="查看投票狀況" onclick="checkVote(<%- project.amountPerStage %>, <%- information.tokenRaised %>, <%- project.id %>)" />
										<br>
									</div>
									<h3>
										<div class="align-center" id="checkVoteText"></div>
									</h3>
	
									<h3>
										<div class="align-center" id="voteInfo"></div>
									</h3>
									<br>
	
									<script>
										function checkVote(amountPerStage, currentAmount, id) {
											id = "0000" + id
											$.get("getInformation", { pid: id }, function (data) {
												//console.log(data)
												document.getElementById('voteInfo').innerHTML =
													"目前投票階段：" + data.nowGoal + "<br>" +
													"總投票人數：" + data.totalContributer + "<br>" +
													"贊成人數：" + data.nowVote
											});
											//console.log(id);
											if (currentAmount >= amountPerStage * 4) {
												document.getElementById('checkVoteText').innerHTML = "募款成功"
											}
											else {
												document.getElementById('checkVoteText').innerHTML = "募款進行中"
											}
										}
									</script>
	
									<!--div class="mdl-tooltip" for="percent" data-upgraded=",MaterialTooltip">0.0%</div-->
								</div>
	
								<!--div class="utiliRow totalDays">
							<h1>33</h1> <p class="metatext">天後結束</p> 
						</div-->
								<!--
						<blockquote class="">
							專案募資成功！<br>在 2018/02/08 23:59 募資結束前，您都可以持續贊助此計畫。                
						</blockquote>
	-->
							</div>
	
							<!--div id="myProgress">
									  <div id="myBar"></div>
									</div><br-->
	
							<ul class="actions">
								<div class="align-center">
									<li><a href="/fund_donating" class="button special big">我有興趣! 捐款去</a></li>
								</div>
	
							</ul>
						</div>
					</div>
					<div class="align-center">
						<h3>
								我的捐款金額:
								<%- donation %>
						</h3>
					</div>
				</div>
			</section>
	
		<!-- Two -->
		<section id="two" class="wrapper style2 special">
			<div class="container">
				<header class="major">
					<h2>商品資訊</h2>
				</header>
				<div class="row 150%">
					<div class="6u 12u$(xsmall)">
						<div class="image fit captioned">
							<img src=<%- project.imgURL1 %> alt="" />
							<h3>
								<%- project.content1 %>
							</h3>
						</div>
					</div>
					<div class="6u$ 12u$(xsmall)">
						<div class="image fit captioned">
							<img src=<%- project.imgURL2 %> alt="" />
							<h3>
								<%- project.content2 %>
							</h3>
						</div>
					</div>
				</div>
				<!--ul class="actions">
							<li><a href="/fund_donating" class="button special big">我要捐款!</a></li>
							<!--<li><a href="#" class="button big">Sed vulputate</a></li> >
						</ul-->
			</div>
		</section>

		<!-- Three 
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Mauris vulputate dolor</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lorem ipsum</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Recusandae nemo</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			-->

		<!-- Four 
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Aenean elementum ligula</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
			-->
		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"></a></li>
					<li><a href="#" class="icon fa-twitter"></a></li>
					<li><a href="#" class="icon fa-instagram"></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				</ul>
			</div>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollgress.min.js"></script>

</body>

</html>