<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>募資平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<style>

		/* Page */

			#page {
				width: 900px;
				margin: 0 auto;
				padding: 30px 50px;
				background: #FFFFFF;
			}
					/* Content */

			#content {
				float: left;
				width: 590px;
				padding: 50px 0px 0px 0px;
			}

			.post {
				overflow: hidden;
				margin-bottom: 40px;
				border-bottom: 1px solid #E7EBED;
			}

			.post .title {
				height: 41px;
				padding: 7px 0px 0px 0px;
				letter-spacing: -1px;
			}

			.post .title a {
				border: none;
				text-transform: lowercase;
				color: #3A4648;
			}

			.post .meta {
				margin-bottom: 30px;
				padding: 10px 0px 0px 0px;
				text-align: left;
				font-family: 'Abel', sans-serif;
				font-size: 16px;
				font-weight: 300;
			}

			.post .meta .date {
				float: left;
			}

			.post .meta .posted {
				float: right;
			}

			.post .meta a {
			}

			.post .entry {
				padding: 0px 0px 20px 0px;
				padding-bottom: 20px;
				text-align: justify;
			}

			.links {
				padding-top: 20px;
				margin-bottom: 30px;
			}

			.more {
				display: block;
				float: left;
				width: 88px;
				height: 25px;
				padding: 2px 0px 0px 0px;
				margin-right: 10px;
				background: url(images/img08.jpg) no-repeat left top;
				text-align: center;
			}

			.comments {
				display: block;
				float: left;
				width: 88px;
				height: 25px;
				padding: 2px 0px 0px 0px;
				background: url(images/img08.jpg) no-repeat left top;
				text-align: center;
			}

		</style>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('component/header', {name, balance, alt: false}) %>

			<!-- Main -->
				<section id="main" class="container">
				<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">
						<header>
							<h2>已完成募款專案 編號 : <%- project.id %></h2>
							<p><%- project.name %></p>	
						</header>
								<div class="image fit">
									<img src=<%- project.imgURL %> alt="" />
								</div>
					<div id="wrapper">
						<div id="page">
							<div id="content">
								<div class="post">
									<h3 class="title">募款發起日：<%- project.date %></h3>
									<h3>每階段預算: <strong><%- project.amountPerStage %></strong></h3>
									<h3>共募得金額: <strong><%- project.currentAmount %></strong></h3>
									<div style="clear: both;">&nbsp;</div>
									<div class="entry">
										
									</div>
								</div>
								<div class="post">
									<h3 class="title">階段目標：</h3>
									<h4>專案階段一: <strong><%- project.step1 %></strong></h4>
									<h4>專案階段二: <strong><%- project.step2 %></strong></h4>
									<h4>專案階段三: <strong><%- project.step3 %></strong></h4>
									<h4>專案階段四: <strong><%- project.step4 %></strong></h4>

									<div style="clear: both;">&nbsp;</div>
									<div class="entry">
									</div>
								</div>

								<!--a href="/watch" style="background-color:cornsilk;font-size:30px;">區塊鏈記錄</a-->
								<div style="clear: both;">&nbsp;</div>
							</div>
						</div>
					</div>


					</div>
				</div>
			</section>
				</section>

			<!-- Footer 
		<footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
-->
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
