<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>募資平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<style>

		</style>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('component/header', {name, balance, alt: false}) %>

			<!-- Main -->
				<section id="main" class="container">
				<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<header>
							<h2>已完成募款之專案 : </h2>
							<p>我們將實現階段性放款</p>
						</header>

						<div>
						<% for(var i=0; i < keyLength; i++) { %>
							<div class="box">
								<header class="align-center">
									<h1>已完成募款專案<%- keyList[i] %></h1>
									<h2><%- projects[keyList[i]].content %></h2>
									<p>發起人 : <%- projects[keyList[i]].sponsor %></p>				
								</header>

								<div class="image fit">
									<img src= <%- projects[keyList[i]].imgURL %> alt="" />
								</div>
								<div class="content">
									<p><h3>發起日期：<%- projects[keyList[i]].date %></h3><p>
									<footer class="align-center">
										<input type="button" id= <%- keyList[i] %> onclick="checkButton(<%- keyList[i] %>)" value="查看專案" />
										<!--a href="/tracking_project01" class="button alt">查看專案進度</a-->
									</footer>
								</div>
							</div>
						<% } %>
						</div>
						<script>
							function checkButton(id){ 
								console.log(id);
								window.location.href="/tracking_project?id="+id;
							}
						</script>

					</div>
				</div>
			</section>

			<!-- Footer -->
				<footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
