<% if (alt) { %>
    <header id="header" class="alt">
<% } else { %>
    <header id="header">
<% } %>
	<h1><a href="/">募資平台</a></h1>
		<nav id="nav">
        <ul>
            <% if (name) { %>
                <li><a href="#" id="uid"><%- name %></a></li>
                <li><a href="#">代幣: <%- balance %></a></li>
            <% } %>
			<li><a href="/">首頁</a></li>
			<li>
				<a href="#" class="icon fa-angle-down">功能列表</a>
				<ul>
					<li><a href="/fund_donating">我要捐款</a></li>
					<li><a href="/fund_raising">我要募資</a></li>
					<li><a href="/buy_token">我要儲值</a></li>
					<li><a href="/vote">我要投票</a></li>
					<!-- <li><a href="?.html">其他功能</a></li> -->
    				<li>
						<a href="#">其他功能</a>
						<ul>
							<li><a href="/my_project/1">我的專案</a></li>
							<li><a href="/tracking">追蹤已完成募款專案</a></li>
						</ul>
					</li>
				</ul>
            </li>
            <% if (name) { %>
                <li><a href="/signout" class="button user-in">Sign out</a></li>
            <% } else { %>
                <li><a href="/login" class="button user-out">Log In</a></li>
            <% } %>
		</ul>
	</nav>
</header>